@model WebApp.ViewModel.PaginationViewModel

@if (Model.TotalPages > 1)
{
    <nav>
        <ul class="pagination">
            <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
                <a class="page-link" asp-page="@Model.PageRoute" asp-route-pageNumber="@(Model.CurrentPage - 1)">Previous</a>
            </li>

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-page="@Model.PageRoute" asp-route-pageNumber="@i">@i</a>
                </li>
            }

            <li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")">
                <a class="page-link" asp-page="@Model.PageRoute" asp-route-pageNumber="@(Model.CurrentPage + 1)">Next</a>
            </li>
        </ul>
    </nav>
}
